.dnd-drag-over .panel-body{
  /*background-color:black;*/
  border: 2px black dashed;
}

.center{
  text-align:center;
}

.widget{
  padding:2px;
}

:host /deep/ .widget_1{
  background-color: black;
}

:host /deep/ .widget_2{
  background-color: yellow;
}

:host /deep/ .widget_3{
  background-color: grey;
}

:host /deep/ .widget_4{
  background-color: blue;
}

:host /deep/ .highlightMe{
  color:black;
}

.tableMarkup tr {
  margin-bottom:20px;
  border-bottom: 1px darkblue dashed;
  border-top: 1px darkblue dashed;
}

.fa-6{
  font-size:7em;
}

.fa-5{
  font-size:6em;
}

.fa-4{
  font-size:5em;
}

.fa-3{
  font-size:4em;
}

.fa-2{
  font-size:3em;
}

.fa-1{
  font-size:2em;
}