<div class="row">
  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">Text Items</div>
      <div class="panel-body">
        <div class="row">

          <div class="col-md-4 widget">
            <div class="bg-primary center" dnd-draggable [dragEnabled]="true" [dragData]="singleColumnText">
              <i class="fa fa-align-center" style="font-size:4em" aria-hidden="true"></i>
            </div>
          </div>

          <div class="col-md-4 widget">
            <div class="bg-primary center" dnd-draggable [dragEnabled]="true" [dragData]="doubleColumnText">
              <div class="row">
                <div class="col-md-3 col-md-offset-1">
                  <i class="fa fa-align-justify" style="font-size:2em" aria-hidden="true"></i>
                </div>
                <div class="col-md-3 col-md-offset-1">
                  <i class="fa fa-align-justify" style="font-size:2em" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 widget">
            <div class="bg-primary center" dnd-draggable [dragEnabled]="true" [dragData]="tripleColumnText">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa fa-align-justify" style="font-size:2em" aria-hidden="true"></i>
                </div>
                <div class="col-md-2">
                  <i class="fa fa-align-justify" style="font-size:2em" aria-hidden="true"></i>
                </div>
                <div class="col-md-2">
                  <i class="fa fa-align-justify" style="font-size:2em" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 widget">
            <div class="bg-primary center" dnd-draggable [dragEnabled]="true" [dragData]="headerOne">
              <i class="fa fa-header" style="font-size:4em" aria-hidden="true"></i>
            </div>
          </div>

          <div class="col-md-4 widget">
            <div class="bg-primary center" dnd-draggable [dragEnabled]="true" [dragData]="headerThree">
              <i class="fa fa-header" style="font-size:2.3em" aria-hidden="true"></i>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 center">
        <button type="button" class="btn btn-default" (click)="toggleHtml()">Toggle Html</button>
        <button type="button" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-danger" (click)="reset()">Reset</button>
        <button type="button" class="btn btn-info" (click)="toggleShowTableMarkup()">Toggle Markup</button>
      </div>
    </div>
  </div>


  <div class="col-md-8" dnd-droppable (onDropSuccess)="transferDataSuccess($event)">
    <div class="panel panel-info">
      <div class="panel-heading">Email Preview</div>
      <div class="panel-body">
        <table [ngClass]="{'tableMarkup': showTableMarkup}" style='width:100%'>
          <tbody dnd-sortable-container [sortableData]="receivedData" >
            <tr *ngFor="let data of receivedData; let i = index" dnd-sortable [sortableIndex]="i" [dragEnabled]="true" (dblclick)="editItem(i)">
              <td [innerHTML]="data.dragData.getHtml()"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showHtml">
  {{html}}
</div>